*{
    margin: 0;
    padding: 0
}
.mainpage{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#isTyping {
    height: 20px;
}
.down {
    width: 60%;
    margin: 0 auto;
}
#messages{
    height: 60vh;
    border: 2px solid #555;
    border-right: none;
    background-color: #222222;
    overflow-x: auto;
    overflow-y: scroll;
}
#msgalert{
    color: red;
    justify-content: flex-end;
    display: none;
}
.inputarea{
    width: 100%;
    bottom: 15px;
    margin-top: 0;
}
#text{
    width: 90%;
    height: 4em;
}
#send {
    width: 10%;
    background-color: #4CAF50;
    border: 2px solid #555;
    border-left: none;
    color: white;
    height: 4em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 450px) { 
    .down{
        width: 99%;
    }
}